@font-face {
    font-family: Roboto;
    src: url(sansation_light.woff);
  }
  
  div {
    font-family: Roboto;
  }
nav{
    background-color:rgb(61, 63, 65);
   

}

main{
    background-color: rgb(222, 225, 228);
}
footer{
    background-color:aliceblue;
    padding-bottom: 1%;
    text-align: justify;
    
}

#banner h1{
    color: rgb(26, 25, 25);
    font-weight: bold;
}
#banner p{
    color: rgb(46, 43, 43);
    font-weight: bold;
    
    
}
img{
    width:100%;
    padding: 4% 4%;
}
nav li{
    position: relative;
    display: inline;

}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: azure;
    padding-top: 1.5%;
}
.left{
    float:left;
    padding-left: 3%;
}
.right{
    float: right;
    padding-right: 3%;
}
@media  screen and (max-width:576px) {

    a{
       font-size: 13px;
   }
   h1{
     font-size:25px ;
   }
   p{
    font-size:12px ;
   }
   h5{
       font-size:17;
       font-weight: bold;
   }
   footer p{
       font-size: 13px;
   }
}

@media  screen and (min-width:768px) {

     a{
        font-size: 14px;
    }
    h1{
      font-size:28px ;
    }
    p{
     font-size:13px ;
    }
    h5{
        font-size:19;
        font-weight: bold;
    }
    footer p{
        font-size: 14px;
    }
}
/*set for lg*/
@media screen and (min-width: 992px){
    #banner {
        background-image:url("../src/bg.png");
        background-size: cover;
        height: 500px;
    }
    #banner h1{
        color: rgb(249, 246, 246);
        font-weight: bold;
        padding-left: 10%;
        padding-top: 18%;
    }
    #banner p{
        color: rgb(248, 244, 244);
        font-weight: bold;
        padding-left: 10%;
    }
    a{
     font-size: 16px;
    }
    h1{
      font-size:37px ;
    }
    p{
     font-size:17px ;
    }
    h5{
        font-size:19;
        font-weight: bold;
    }
    footer p{
        font-size: 14px;
    }
}
